<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
   *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   }
   body{
    background-color: aqua;
   }
   nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
   }
   .container{
    width: 80%;
    margin: auto;
   }
   ul{
    display: flex;
    gap: 5rem;
   }
   .section-container{
    margin-top: 5rem;
   }
   .section-container h2{
    color: red;
    text-align: center;
   }
   .section-mapped-data{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid red;
    gap: 2rem;
   }
  </style>
  <title><%= title %></title>
</head>