<!DOCTYPE html>
<html lang="en">
  <%- include('./partial/head.ejs') %>

<body>
  <%- include('./partial/nav.ejs') %>

  <section>
    <h2>oops, ejs wrong path</h2>
  </section>

  <%- include('./partial/footer.ejs') %>

  
</body>
</html>