<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body>
  <%- include('./partials/nav.ejs') %>

  <section class="">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, amet quas maiores incidunt ea, eum odit debitis id, voluptates nesciunt accusamus enim mollitia? Qui quasi quisquam explicabo aliquid mollitia esse nobis aspernatur debitis nisi, a, obcaecati nesciunt quaerat eum fugiat!</p>
  </section>
  <section>
    <h2>Welcome to my ejs About Page</h2>
  </section>

  <%- include('./partials/footer.ejs') %>

</body>
</html>