<!DOCTYPE html>
<html lang="en">
<div class="section-container">
  <%- include('../partial/head.ejs') %>
</div>

<body>
 <div class="section-container">
  <%- include('../partial/nav.ejs') %>
 </div>

  <section class="container section-container">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, amet quas maiores incidunt ea, eum odit debitis id, voluptates nesciunt accusamus enim mollitia? Qui quasi quisquam explicabo aliquid mollitia esse nobis aspernatur debitis nisi, a, obcaecati nesciunt quaerat eum fugiat!</p>
  </section>
  <section class="container">
    <h2>Welcome to my ejs About Page</h2>
  </section>

 <div class="container section-container">
  <%- include('../partial/footer.ejs') %>
 </div>

</body>
</html>